body{
    background-color: rgba(220, 220, 220, 0.308);
}

.container {
    max-width: 1024px;
    font-family: sans-serif;
    margin: auto;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar navbar navbar navbar navbar navbar navbar"
      "main main main main main aside aside"
      "main main main main main aside aside"
      "main main main main main aside aside"
      "main main main main main aside aside"
      "footer footer footer footer footer footer footer";
  }
  
  .navbar {
     
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo link1 link2 link3 login";
    grid-area: navbar;
  }


  a:visited {
    color: white;
}

a:link {
    color: white;
}

a:hover {
    color: black;
}

.login a:hover {
    color: #00f0b4;
}

.link1:hover {
    background-color: rgba(173, 216, 230, 0.603);
}

.link2:hover {
    background-color: rgba(173, 216, 230, 0.603);
}

.link3:hover {
    background-color: rgba(173, 216, 230, 0.603);
}

.logo {
    grid-area: logo;
    background-color: navy;
    padding-left: 5px;
    color: azure;
}

.login {
    grid-area: login;
    background-color: navy;
    text-align: right;
    padding-right: 5px;
    padding-top: 30px;
    color: azure;
}

.link1 {
    grid-area: link1;
    list-style-type: none;
    text-align: center;
    padding: 30px;
    
    background-color: rgba(120, 42, 245, 0.425);

}

.link2 {
    grid-area: link2;
    list-style-type: none;
    text-align: center;
    background-color: rgba(120, 42, 245, 0.425);
    padding: 30px;
}

.link3 {
    grid-area: link3;
    list-style-type: none;
    background-color: rgba(120, 42, 245, 0.425);
    text-align: center;
    padding: 30px;
}

.aside { 
    grid-area: aside;
    background-color: lightpink;
    
 }

 #unorder{
    margin: 20px 30px 10px 30px;
    width: 50%;
    border: 1px solid green;
    padding: 20px;
 }
 h3{
    margin: 10px 30px 10px 10px;
  width: 70%;
  border: 1px solid green;
  padding: 10px;
 }

.main {
    grid-area: main;
    background-color: rgba(15, 211, 97, 0.185);
}

h2{
    margin: 10px 30px 10px 10px;
  width: 50%;
  border: 1px solid green;
  padding: 10px;
}

#paragragh{
    margin: 10px 30px 10px 10px;
  
  border: 1px solid green;
  padding: 10px;
  width: 300px;
  
}
.article1{
    margin: 10px 30px 10px 10px;
    float: left;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}
.article2{
    margin: 10px 20px 10px 10px;
    float: right;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

 
.footer {
    grid-area: footer;
    background-color: navy;
    text-align: center;
    padding: 10px;
    color: gainsboro;
} 

  

  

  