body {
    background-color: rgba(220, 220, 220, 0.308);
}

.container {
    max-width: 1024px;
    font-family: sans-serif;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1.5fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "navbar navbar navbar navbar navbar navbar navbar"
        "main main main main main aside aside"
        "main main main main main aside aside"
        "main main main main main aside aside"
        "main main main main main aside aside"
        "footer footer footer footer footer footer footer";
}

.navbar {

    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "logo link1 link2 link3 login";
    grid-area: navbar;
}

a:visited {
    color: white;
}

a:hover {
    color: rgba(156, 34, 172, 0.959);
}

.login:hover {
    background-color: rgba(173, 216, 230, 0.603);
}

.link1:hover {
    background-color: rgba(173, 216, 230, 0.603);
}

.link2:hover {
    background-color: rgba(173, 216, 230, 0.603);
}

.link3:hover {
    background-color: rgba(173, 216, 230, 0.603);
}

.logo {
    grid-area: logo;
    background-color: navy;
    padding-left: 5px;
    color: gainsboro;
}

.login {
    grid-area: login;
    background-color: navy;
    text-align: right;
    padding-right: 15px;
    padding-top: 40px;
    color: azure;
}

.link1 {
    grid-area: link1;
    list-style-type: none;
    text-align: center;
    padding: 40px;
    padding-left: 26px;
    background-color: rgba(120, 42, 245, 0.425);
}

.link2 {
    grid-area: link2;
    list-style-type: none;
    text-align: center;
    background-color: rgba(120, 42, 245, 0.425);
    padding: 40px;
}

.link3 {
    grid-area: link3;
    list-style-type: none;
    background-color: rgba(120, 42, 245, 0.425);
    text-align: center;
    padding: 40px;
}

.aside {
    grid-area: aside;
    background-color: lightpink;
}

#unorder {
    margin: 0px 30px 10px 50px;
    width: 70%;
    padding: 20px;
    padding-top: 5px;
    font-size: 14px;
}

h4 {
    font-size: medium;
}

h3 {
    margin: 10px 30px 0px 0px;
    width: 70%;
}

#headline {
    margin: 10px 30px 0px 10px;
    width: 70%;
    padding: 10px;
}

.main {
    grid-area: main;
    background-color: rgba(15, 211, 97, 0.185);
}

h2 {
    text-align: center;
    width: 90%;
    padding: 10px;
    margin-left: 25px;
    margin-bottom: 0px;
}

#paragragh {
    text-align: justify;
    padding: 10px;
    width: 90%;
    margin-top: 0px;
    margin-left: 25px;
    margin-bottom: 0px;
}

.article1 {
    text-align: justify;
    margin-left: 25px;
    float: left;
    width: 300px;
    padding: 10px;
    padding-top: 2px;
    margin-top: 0px;
}

.article2 {
    text-align: justify;
    margin-left: 25px;
    float: left;
    width: 300px;
    padding: 10px;
    padding-top: 2px;
    margin-top: 0px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.footer {
    grid-area: footer;
    background-color: navy;
    text-align: center;
    padding: 10px;
    color: gainsboro;
}